{{- /* Footer custom content area start */ -}}
{{- /*     Insert any custom code web-analytics, resources, etc. here */ -}}
<div class="h-card vcard" style="display:none">
    <img class="u-photo" alt="m0x avatar image" src="/images/avatar.png">
    Nickname: <a class="u-url" rel="me" href="https://m0x.io/">m0x</a>
    <br>
    Job: <span class="p-job-title">Hacker, DFIR, CTI</span>
    <br>
    PGP key: <a rel="pgpkey" href="/m0x.asc" class="u-key">7A64 A57B</a>
    <br>
    Github: <a rel="me" href="https://github.com/m0xxz" class="u-url">m0xxz</a>
    <pre class="clear p-note"><3</pre>
</div>
{{- /* Footer custom content area end */ -}}
